@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;1,400;1,600&family=Shippori+Mincho:wght@500;700&display=swap');

:root {
  --darkPurple: #361A67;
  --teal: #1A675C;
  --palePurple: #CDC6D9;
  --lightSalmon: lightSalmon;
  --yellow: #FFE37A;
}

/** global styles **/

* {
  margin: 0px;
  padding: 0px;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  color: var(--darkPurple);
}

h1, h2, h3, h4, h5 {
  font-family: 'Shippori Mincho', serif;
}

h1 {
  font-size: 2.6em;
}

h2 {
  font-size: 2.2em;
}

h3 {
 font-size: 1.5em; 
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--teal);
}

a:hover {
  color: black;
}

i {
  display: inline;
}

/** nav styles **/

#navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-around;
  background-color: white;
  color: var(--darkPurple);
}

#navbar a {
  color: var(--teal);
}

#navbar a:hover {
  color: black;
}

#logo {
  width: 120px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-right: 10px;
  margin: 0px 10px 0px 10px;
}

#logo i {
  font-size: 1.5em;
}

#nav-list {
  display: flex;
  flex-direction: row-wrap;
  justify-content: space-between;
  margin-right: 20px;
}

#nav-list li {
  padding: 20px;
}

nav a {
  color: white;
}



/** welcome **/

#welcome-section {
  margin-top: 0px;
  padding-top: 0px;
  height: 100vh;
  width: auto;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  background-image: url("eberhard-grossgasteiger-NvesrDbsrL4-unsplash.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  color: var(--darkPurple);
  /*
  background-color: var(--palePurple);
  color: white;
  text-shadow: 2px 2px 6px var(--darkPurple);
  */
}

/*
padding: 25px 0px 50px 0px;
width: 100vw;
height: auto;
background-color: var(--teal);
color: white;
display: flex;
flex-flow: column wrap;
justify-content: center;
align-items: center;
} 
*/

@media screen and (max-width: 860px) {
  #welcome-section {
    background-attachment: scroll;
    text-align: center;
    min-height: 150vh;
  }
}

#plans-container {
  width: 80vw;
  height: auto;
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  justify-content: space-evenly;
}

.plans {
  width: 40vw;
  height: auto;
  padding: 20px;
  margin: 10px;
  text-align: left;
  border-radius: 20px;

  /*
  background-color: rgba(54, 26, 103, .1);
  color: black;
  text-shadow: none;
  */
}

.plans ul {
  list-style: square;
  padding: 10px 0px 0px 0px;
}

/*ß
.plans h4 {
  color: white;
}
*/

/** projects **/

#projects {
  padding: 25px 0px 50px 0px;
  width: 100vw;
  height: auto;
  background-color: var(--teal);
  color: white;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

#projects, p {
  text-align: center;
}

#project-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: stretch;
}

.project-tile {
  width: 300px;
  min-height: 150px;
  border-radius: 20px;
  padding: 20px;
  margin: 10px;
  text-align: center;
  flex: 0 1 auto;
  color: black;
}

.project-img {
  width: 300px;
  height: auto;
}

#project1 {
  background: var(--yellow);
}

#project2 {
  background: var(--lightSalmon);
}

#project3 {
  background: var(--palePurple);
}

#project4 {
  background: var(--yellow);
}

#project5 {
  background: var(--palePurple);
}

/** info **/

#About {
  padding: 25px 0px 50px 0px;
  width: 100vw;
  height: auto;
  background-color: var(--palePurple);
  color: var(--darkPurple);
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

#info {
  padding: 25px;
}

/** contact **/

#Contact {
  height: 70vh;
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
}

#contact-links {
  width: 50%;
  font-size: 1.5em;
  padding-top: 20px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
}

@media (max-width: 860px) {
  #contact-links {
    width: 100%;
    flex-flow: column wrap;
  }
}



/** disclaimer **/

.disclaimer {
  background-color: var(--darkPurple);
  color: white;
  font-size: .7em;
  text-align: center;
  padding: 10px;
}
